<div class="s-maru red">
  <% 54.times do %>
    <div class="circle red">
    </div>
  <% end %>
</div>

<div class="s-maru white">
  <% 100.times do %>
    <div class="circle white">
    </div>
  <% end %>
</div>
